body {
  background-image: url('data/bg.jpg');
  background-position: top center;
  font-family: 'Open Sans', sans-serif;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
h1, h2 {
  margin: 0;
}
h2 {
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 5px;
}
h1 {
  font-family: 'Finger Paint', 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 400;
  padding-top: 30px;
}
#wrapper.hidden {
  opacity: 0;
}
#logo {
  display: block;
  background-image: url('data/logo.png');
  width: 365px;
  height: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 242px;
  background-repeat: no-repeat;
  text-align: left;
}
#loading {
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 3px #666;
  border: 1px solid #999;
  display: block;
  width: 200px;
  height: 22px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-top: -11px;
  margin-left: -100px;
}
#content {
  text-align: center;
}
#canvases {
  position: relative;
  width: 600px;
  height: 300px;
  box-shadow: 0px 0px 3px #999;
  margin: 0 auto;
  margin-bottom: 25px;
}
#imageTemp {
  position: absolute;
  top: 0px;
  left: 0px;
}
#footer {
  text-align: center;
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}
a, a:visited, a:hover, a:active {
  color: black;
}
a:hover {
  text-decoration: none;
}
#login {
  width: 500px;
  margin: 30px auto;
  text-align: left;
  position: relative;
}
#login #canvases {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
}
.clear {
  clear: both;
}
#login #return {
  bottom: 21px;
  position: absolute;
  left: 220px;
}