body {
  background-image: url('data/bg.jpg');
  background-position: top center;
  font-family: 'Open Sans', sans-serif;
}
#menu, #create, .canvases, canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*form, input {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  -o-user-select: all;
  user-select: all;
}*/
h1, h2 {
  margin: 0;
}
h2 {
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 5px;
}
h1 {
  font-family: 'Finger Paint', 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 400;
  padding-top: 30px;
}
#wrapper {
  margin: 30px auto;
}
#wrapper.hidden {
  opacity: 0;
}
#logo {
  display: block;
  background-image: url('data/logo.png');
  width: 365px;
  height: 250px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 242px;
  background-repeat: no-repeat;
  text-align: left;
}
#loading {
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 3px #666;
  border: 1px solid #999;
  display: block;
  width: 200px;
  height: 22px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-top: -11px;
  margin-left: -100px;
}
#content {
  text-align: center;
}
.canvases {
  position: relative;
  width: 600px;
  height: 300px;
  box-shadow: 0px 0px 3px #999;
  margin: 0 auto;
  margin-bottom: 25px;
}
.imageTemp {
  position: absolute;
  top: 0px;
  left: 0px;
}
#footer {
  text-align: center;
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}
a, a:visited, a:hover, a:active {
  color: black;
}
a:hover {
  text-decoration: none;
}
#login, #create, #about {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
#create {
  width: 650px;
}
#about {
  width: 700px;
}
#login .canvases, #about .canvases {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
}
#create .canvases {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 20px;
}
#create .canvases2 {
  width: 230px;
  height: 230px;
  margin: 0;
  position: absolute;
  right: 0px;
  opacity: 0.5;
}
.toolbox {
  margin-bottom: 10px;
}
.toolbox a {
  display: block;
}
.clear {
  clear: both;
}
#login #return, #create #done {
  bottom: 21px;
  position: absolute;
  left: 220px;
}
#create #done {
  left: 420px;
}
#login input {
  width: 150px;
  margin: 3px;
}
#login #submit {
  width: 233px;
}
#login span {
  display: inline-block;
  min-width: 80px;
}
#logout {
  position: absolute;
  right: 0px;
  top: 0px;
}
#game {
  position: relative;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}
#game .canvases {
  width: 600px;
  height: 400px;
}
.hidden-canvases {
  display: none;
}
